# custom files
custom/

# temp files directories
cache/
log/
*.swp
.DS_Store

# editor configs
.idea

# tanstack / vite
node_modules
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*

# zcompile cached files
*.zwc
